body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header section */
.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items:stretch;
    
}
.empty-container{
    width: 200px;
    flex: 1 1 auto;
}
.header-container{
    max-width: 1000px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

}
.header-top{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}
ul {
    
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    
}
li a{
    font-size: 10px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-content{
    flex: 1;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.right-content{
    
    width: 440px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    justify-content: flex-start;
}
.secondary-text{
    font-size: 18px;
    
    color: #e5e7eb;  
    flex: 0 1 auto;
}
.sing-up-button{
    text-align: center;
    border-radius: 6px;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 80px;
    height: 25px;
    flex: 0 0 0;
}
.right-content{
    color: #e5e7eb;
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* stair 1 section */

.stair-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items:stretch;   
}
.info-container{
    max-width: 1000px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.info-top{
    flex: 1;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}
.info-content{
    flex: 1;
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.info-elemet {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.info-element-img-placeholder{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid blue;
    flex: 0 0 auto;
}
.info-element-description{
    width: 150px;
    text-align: center;
    flex: 1;
}
/* stair 2 section */
.stair-2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #e5e7eb;
    align-items:stretch;  
}
.stair-2-content{
    flex: 0 1 auto;
    width: 1000px;
    margin: 80px auto 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-into-quotes{
    flex: 1;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.appointment{
    flex: 1;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
}
/* stair 3 section */
.stair-3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items:stretch; 
}
.stair-3-section{
    display: flex;
    justify-content: center;
    align-content: center;
}

.stair-3-content{
    flex: 1 1 auto;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    gap: 180px;
    justify-content: space-between;
    align-content: center;
    background-color: #3882f6;
    padding: 40px 180px 40px 140px;
    margin: 80px 0px;
    
}

.stair-3-left-content{
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
}
.top-call-to-action{
    font-size: 18px;
    font-weight: bolder;
    color: #e5e7eb;
    flex: 0 1 auto;
}

.bottom-call-to-action{
    font: 15px;
    color: #e5e7eb;
    flex: 1 1 auto;
}
.stair-3-right-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.sing-up-button2{
    text-align: center;
    border-radius: 6px;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 80px;
    height: 25px;
    flex: 0 0 0;
}

/* footer section */
.footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    align-items:stretch;
    color: #e5e7eb;
    justify-content: center;
    padding: 40px;
    font-size: 10px;
    font-weight: bolder;
}